logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
.vscode
*.swp
*.lock
package-lock.json
.travis.yml
appveyor.yml

app/**/*.js
test/**/*.js
!test/mockData/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
typings/app/**/*.d.ts
typings/config/**/*.d.ts
projects
projects_build
temp
app/public